<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/react-big-calendar.css">
    </head>
    <body>
        <div id="dora"><img src="/static/img/doraemon3.png"></div>
        <div class="view">
            {{ html|safe }}
        </div>
        <script src="/static/js/jquery.min.js"></script>
        <!--<script src="/static/js/chat.js"></script>-->
        <script src="/static/js/view/main.js"></script>
    </body>
</html>