<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="https://fb.me/react-15.1.0.js"></script>
        <script src="https://fb.me/react-dom-15.1.0.js"></script>
    </head>
    <body>
        <div id="dora"><img src="/static/img/doraemon3.png"></div>
        <div class="wrap">
            <div class="container">
                <header>
                    <h1>kms.Net</h1>
                </header>
                <aside class="leftSide">
                    <ul>
                        <li id="menu1" class="select">메인 </li>
                        <li id="menu2">질문 </li>
                        <li id="menu3">Github Commit </li>
                        <li id="menu4">채팅 </li>
                    </ul>
                </aside>
                <section class="content">
                    <div class='content_view'>
                    </div>
                </section>
                <aside class="rightSide">
                    <div id="status">
                        <div id="ruliweb_status">
                            <span>접속수집현황:</span><span id="ruliweb_time"></span>
                        </div>
                        <div id="army_status">
                            <span class="dd">D-</span>
                            <span id="army_dday"></span>
                            <div id="army_time"></div>
                        </div>
                    </div>
                    <div id="chat">
                        <div id="chat_view">
                            <ul>
                            </ul>
                        </div>
                       <input type="type/text" id="msg_name"> <input type="type/text" id="in_message"><button id="send_message">send</button>
                    </div>
                </aside>
            </div>
            <footer>
                kms1837
            </footer>
        </div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/chat.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>