<div class='question_view'>
    <!--<div class='question_board'>
        <div class="question">
            <span class="question_text">질문이요!</span>
        </div>
        <div class="reply">
            <span class="reply_deco"> > </span>
            <span class="reply_text">답변이요!</span>
        </div>
        <div class="reply">
            <span class="reply_deco"> > </span>
            <span class="reply_text"><span id="reply_test"></span></span>
        </div>
    </div>-->
</div>
<div class='edit_bar'>
    <div class="edit_tool">
        <button class='edit_question'>글쓰기</button>
    </div>
</div>
<!--<script src="/static/js/view/react_tutorial.js"></script>-->
<script src="/static/js/view/question_board.js"></script>