html, body {
    margin: 0;
    height: 100%;
}

html {
    overflow: hidden;
}

body {
    background-color: #00A0E9;
}

.wrap {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.container {
    margin: 60px auto 0px auto;
    width: 1000px;
    min-height: 500px;
    padding: 20px;
    background-color: #fff;
    border: 12px solid #008DCE;
    box-shadow: 18px 21px rgba(1, 99, 144, 0.72);
    /*box-shadow: 0px 0px 0px 16px rgba(1, 99, 144, 0.72);*/
}

section{
    min-height: 500px;
    min-width: 560px;
    display: inline-block;
    /*padding : 10px;*/
    border: 4px solid #484848;
}

.leftSide{
    float: left;
    width: 200px;    
}


.leftSide ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.leftSide ul li{
    margin: 5px 0;
    padding: 10px;
    background-color: #EAEAEA;
    transition: all 0.2s ease;
}

.leftSide ul li:hover, .leftSide ul .select {
    background-color: #484848;
    color: white;
}

.rightSide {
    float: right;
    width: 200px;
}

footer {
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    width: 1000px;
    border: 12px solid #008DCE;
    background-color: #fff;
    box-shadow: 18px 21px rgba(1, 99, 144, 0.72);
}

#status {
    height: 120px;
    border: 4px solid #484848;
    padding : 10px;
}

.dd {
    font-size: 35px;
    color: #008DCE;
    font-weight: bold;
}

#army_dday {
    font-size: 35px;
    font-weight: bold;
    color: #484848;
}

#chat {
    margin-top: 10px;
    height: 280px;
}

#chat ul {
  margin: 10px;
  padding: 0;
  list-style: none;
}

#chat ul li{
  margin: 0;
  font-size: 12px;
  white-space: nowrap;
}

#chat_view {
    width: 100%;
    height: 100%;
    border: 4px solid #484848;
    overflow-y: scroll;
    overflow-x: hidden;
}

#dora {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

#dora img {
    width: 400px;
}

.question_view {
    overflow-y: scroll;
    height: 450px;
}

.question {
    margin-bottom: 10px;
}

.question_box {
    padding: 10px;
    border-bottom: 10px #484848 double;
}

.question_text {
    color : white;
}

.reply_deco {
    /*font-size: 40px;*/
    font-weight: bold;
    color: #008dce;
    margin-right: 10px;
}

.reply_text {
    color: white;
}

.reply_box {
    border: 2px #484848 solid;
}

.reply {
    padding: 10px;
    padding-left: 15px;
    background-color: #636262;
    border-bottom: 2px #484848 dashed;
}

.reply:last-child {
    border : none;
}

.replyForm {
    padding: 10px;
    background-color: #333;
}

.replyForm input[type="text"] {
    width: 83%;
    margin-right: 10px;
    padding: 5px;
}

.content {
    position: relative;
}

.question_box {
    background-color: #9c9c9c;
    border-bottom: 2px #484848 solid;
}

.edit_bar {
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: #484848;
    bottom: 0;
}

.edit_tool {
    padding: 10px;
    text-align: center;
}